
// Cover page


.cover{
  display: block;
  width: 100%;
  height: 100%;
}

@grid-outer: 30px;

.grid-container{
  display: grid;
  z-index: 5;
  height: 100%;
  grid-template-rows: @grid-outer 1fr 1fr 1fr @grid-outer;
  grid-template-columns: @grid-outer 1fr 1fr @grid-outer;
  grid-template-areas:
    "corner-tl header header corner-tr"
    "left-slogan dial-tl dial-tr right-slogan"
    "left-slogan title title right-slogan"
    "left-slogan dial-bl dial-br right-slogan"
    "corner-bl footer footer corner-br";
  align-content: stretch;
  justify-content: stretch;
}

.cover-header{
  grid-area: header;
  justify-self: center;
  align-self: center;
}

// frame and background

.cover-frame{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 4;
}

.cover-bg{
  .cover-frame;
  background-color: @cover-color;
}

.cover-border{
  .cover-frame;
  border: 2px solid black;
  z-index: 1;
}

.cover-title{
  grid-area: title;
  align-self: center;
  justify-self: center;
  font-family: 'minotaursanslombardic-light';
  line-height: 100%;
  text-align: center;
  font-size: 8vw;
  z-index: 99;
}

.cover-announcement {
  font-size: 16px;
  line-height: 20px;
  justify-self: center;
  p {
    border: 3px dotted black;
    padding: 10px;
    a {
      color: black;
      text-decoration: underline;
      font-family: 'minotaursanslombardic-light';
    }
  }
}

.slogans(){
  font-family: "Inconsolata";
  font-size: 1em;
  white-space: nowrap;
  align-self: center;
  justify-self: center;
  writing-mode:vertical-lr;
}

.left-slogan{
  .slogans;
  grid-area: left-slogan;
  transform: rotate(-180deg);
}

.right-slogan{
  .slogans;
  grid-area: right-slogan;
}

.illus(){
  max-height: 30vh;
  max-width: 30vh;
  img, svg{
    max-width:100%;
    //
  }
}

svg.dial{
    text{
      font-family: "Inconsolata";
    }

    g.dial_disc{
      circle.circle{
        fill:white;
        stroke: none;
      }

      path.tick{
        fill: none;
        stroke: black;
        stroke-width:3;
      }

      path.small_tick{
        stroke-width:1;
        fill: none;
        stroke: #aaa;
      }
    }

    rect.background{
      fill: white;
      opacity: 0.4;
    }
}



.dial-tl{
  grid-area: dial-tl;
  .illus;
}

.dial-tr{
  grid-area: dial-tr;
  text-align: right;
  .illus;
  justify-self: end;
}
.dial-bl{
  grid-area: dial-bl;
  align-self: end;
  .illus;
}
.dial-br{
  grid-area: dial-br;
  text-align: right;
  align-self: end;
  justify-self: end;
  .illus;
}


// Corner Symbols

.corner(){
  padding: 5px;
  font-size: 20px;
  line-height: 20px;
}

.corner-tl{
  .corner;
  grid-area: corner-tl;
}
.corner-tr{
  .corner;
  grid-area: corner-tr;
}
.corner-bl{
  .corner;
  grid-area: corner-bl;
}
.corner-br{
  .corner;
  grid-area: corner-br;
}

.cover-footer{
  grid-area: footer;
  justify-self:center;
  align-self: center;
  font-size: 0.9em;
}
