
@font-face {
font-family: 'minotaursanslombardic-light';
    src: url('https://tender-allen-9feb98.netlify.app/minotaursanslombardicweb-light.eot');
    src: url('https://tender-allen-9feb98.netlify.app/minotaursanslombardicweb-light.eot?#iefix') format('embedded-opentype'),
         url('https://tender-allen-9feb98.netlify.app/minotaursanslombardicweb-light.woff') format('woff');
}
