.rotate-slogan(@translate: -50%){
  -moz-transform: translateX(@translate) translateY(@translate) rotate(-90deg);
  -webkit-transform: translateX(@translate) translateY(@translate) rotate(-90deg);
  transform:  translateX(@translate) translateY(@translate) rotate(-90deg);
}

.wrap() {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
