@media print{

@green: #000 !important;

.title-page{
  display:inherit !important;
  page-break-before: always;
  page-break-after: always;
  text-align: center;
  margin-top: 150px;
  position: relative;
  .title{
    font-family: 'minotaursanslombardic-light';
    line-height: 100%;
    font-size: 12vw;
    margin-bottom: 100px;
  }
}

.blank-page, .tables-page{
  display:inherit !important;
  page-break-before: always;
  page-break-after: always;
}

// footer is printed on the inside of the back cover
.footer{
  page-break-before: always;
  page-break-after: always;
}

.back-cover{
  page-break-before: always;
  text-align: center;
  margin-top: 200px;
  font-family: 'minotaursanslombardic-light';
  font-size: 6vw !important;
}


h2{
  page-break-before: always;
}

.LOTTO{
  h2{
    page-break-before: avoid;
  }
}

  .hashgets{

   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;

  page-break-before: always;
  page-break-after: always;
  padding-bottom: 30px;

  h2.hashget_title{
    column-span: all;
    text-align: center;
  }

    .hashget{

      -webkit-column-break-inside: avoid;
    }
  }


.cosmic-chart-table{
  page-break-inside: avoid;
  tr.green, tr.red{
    color: black !important;
  }
}

.crisis-map{
  svg{
    .graticule {
      fill: none;
      stroke: #000 !important;
      stroke-width: .5px;
      stroke-opacity: .5;
    }

    path.LineString{
      fill: none;
      &.diff_pos{
        stroke:black !important;
      }
      &.diff_neg{
        stroke:#666 !important;
      }
    }

    path.Point{

      &.diff_pos{
        stroke: black !important;
        fill:white !important;
      }
      &.diff_neg{
        stroke:black !important;
        fill:#666 !important;
      }
    }
  }
}

.astromeme {
  img {
    max-height: 100%;
  }
}

.EA-tables{
  page-break-before: always;
}

.best_days>table, .worst_days>table{
  color: black !important;
}

}
