@import 'fonts.less';
@import 'mixins.less';
@import 'cover.less';
@import 'print.less';

// variables
@cover-color: #b4ffd9;
@body-color: lighten(@cover-color, 10%);
@darkgrey: #555555;

@green: #00FF00;
@red: #FF0000;

// Font Sizes
@font-small: 0.9em;
@font-xsmall: 0.8em;

html{
  font-size: 14px;
}

body{
  background-color: @body-color;
  margin: 0px;
  font-family: "Inconsolata";
  font-size: 18px;
  //line-height: 1.2em;
}

img {
  max-width: 100%;
}

// Title Pages and print covers
.title-page, .tables-page, .blank-page{
  display: none;
}

// Tables
.tables-page{
  table{
    width: 100%;
    background-color: transparent;
    td{
      text-align: left;
      border: 1px solid black;
      padding: 5px;
    }
  }
}

// Modules

h2{
  font-size: 1.7rem;
  font-weight: bold;
  //margin-top: 20px;
}

.table > tbody > tr > td{
  padding:2px;
}

table{
  font-size: @font-small;
  background-color: white;
  border: 1px solid @darkgrey;
}

.table > tbody > tr > td {
  border-color: @darkgrey;
}

.cosmic-chart{
  background-color: white;
  border: 1px solid black;
  margin-top:5px;
  margin-bottom: 10px;
}

.cosmic-chart-table{
  tr > td > img{
    max-height: 14px;
    margin-left: 2px;
  }

  tr.green{
    color: @green;
  }
  tr.red{
    color: @red;
  }
}

.hashgets{
  border: 1px solid black;
  font-size: @font-small;
  text-align: center;
  @hashget-margin: 5px;
  .hashget{
    text-align: left;
    margin-bottom: 10px;

    .type{
      display: inline;
      margin-left: @hashget-margin;
    }

    .hash{
      display: inline;
      background-color: white;
      .get-hilight{
        color: red;
        border: 1px solid red;
        margin: 0px 2px;
      }
      &:after{
        content: "\A";
        white-space: pre;
      }
    }

    .timestamp{
      font-size: @font-xsmall;
      line-height: 120%;
      margin-left: @hashget-margin;
    }

    &:not(.DUBS){
      .type{
        //font-size: 1.2em;
        display: block;
      }

      .hash{
        display: block;
        .wrap;
        background-color: white;
        padding: @hashget-margin;

      }

    }
  }
}

.astromeme {
  background-color: white;
  padding: 3px;
  margin-top: 20px;
  h2 {
    margin-top: 10px;
  }
}

.crisis-matrix-table{
  thead{
    font-size: 1.3em;
  }
  td:first-child{
    width:0px;
    padding-right: 5px;
  };
  tr.today{
    border: 4px solid black;
  }
}

.crisis-map{

  svg{
    width: 100%;
    height: auto;

    .stroke {

      fill: none;
      stroke: #000;
      stroke-width: 3px;
    }

    .fill {
      fill: #fff;
    }

    .graticule {
      fill: none;
      stroke: #777;
      stroke-width: .5px;
      stroke-opacity: .5;
    }

    path.LineString{
      fill: none;
      &.diff_pos{
        stroke:#00FF00;
      }
      &.diff_neg{
        stroke:#FF0000;
      }
    }

    path.Point{
      stroke:none;
      &.diff_pos{
        fill:#00FF00;
      }
      &.diff_neg{
        fill:#FF0000;
      }
    }

  }
}

// Lotto

.LOTTO{
  border: 1px solid black;
  .draw{
    margin-bottom: 5px;
    // border-bottom: 1px solid black;
  }
}
span.number_ball {
  //font-size: 1.5em;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;

  display: inline-block;
  line-height: 1.3em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
}

// Electional Astrology

.best_days{
  table{
    color: @green;
    //border-color: @green;
    tr{td{
      //border-color: @green;
    }}
  }
}

.worst_days{
  table{
    color: @red;
  //  border-color: @red;
    tr {
      td {
      //border-color: @red;
      }
    }
  }
}

// Power Grid HARMONICS

.PGH_title{
  text-align: center;
}

.PGH-chart{
  width: 100%;
}


// Footer

  .footer{
    text-align: center;
    font-size: 0.8em;
    margin: 100px 0px 50px 0px;
    width: 100%;
    hr{
      border-color: black;
    }
    .fa{
      font-size: 1em;
    }
    .logo {
      max-width: 150px;
    }

  }

// back cover

.back-cover{
  text-align: center;
  font-family: 'minotaursanslombardic-light';
  font-size: 3vw;
  margin-bottom: 200px;
}
