@font-face {
    font-family: 'minotaursanslombardic-light';
        src: url('https://tender-allen-9feb98.netlify.app/minotaursanslombardicweb-light.eot');
        src: url('https://tender-allen-9feb98.netlify.app/minotaursanslombardicweb-light.eot?#iefix') format('embedded-opentype'),
             url('https://tender-allen-9feb98.netlify.app/minotaursanslombardicweb-light.woff') format('woff');
    }

body {
    background-color: #b4ffd9;
}

#notebook-container {
    background-color: #e7fff3;
}

.rendered_html h1 {
    font-family: 'minotaursanslombardic-light';
    font-size: 2.3em;
}