
body{
  font-family: "Inconsolata";
  height: 100%;
  font-size: 12px;
}


.header{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "header header"
      "title title"
      "user reading";
}

.title{
  margin: 0px;
  font-size: 2em;
  grid-area: title;
}

.logo{
  grid-area: header;
  font-family: 'Minotaur Sans Lombardic';
  font-size: 1.5em;
}

.user_deets{
  grid-area: user;
}

.reading_deets{
  grid-area: reading;
}

.chart_container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "calendar calendar calendar tables";
  margin-top: 20px;
}

.calendar{
  grid-area: calendar;
}

.calendar>img{
  max-width: 100%;
}

table{
  font-size: 10px;
  margin-bottom: 10px;
}

footer{
  margin-top: 20px;
  font-size: 1.5em;
  font-family: 'Minotaur Sans Lombardic';
}
